{% extends "accounts/base_app.html" %}
{% load static %}

{% block title %}Location - InventTech{% endblock %}
{% block page_title %}{% if mode == "edit" %}Edit Location{% else %}Create Location{% endif %}{% endblock %}
{% block page_subtitle %}Location details{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/pages/locations.css' %}?v=1">
{% endblock %}

{% block content %}
<section class="page-section is-active">
  <div class="canvas">
    <div class="grid">
      <div class="card c8">
        {% include "accounts/locations/form_embed.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
