{% extends "accounts/base_app.html" %}

{% block title %}{% if mode == "edit" %}Edit Material Sub Type{% else %}Create Material Sub Type{% endif %} - InventTech{% endblock %}
{% block page_title %}{% if mode == "edit" %}Edit Material Sub Type{% else %}Create Material Sub Type{% endif %}{% endblock %}
{% block page_subtitle %}Used in Material module sub type dropdown{% endblock %}

{% block content %}
<div class="canvas">
  {% include "accounts/material_sub_types/form_embed.html" with full_page=True %}
</div>
{% endblock %}